body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 0px 1px rgba(255,255,255,0.2);
}
.mdi-coins, .coinamount {
color:gold;
}
a {
color: #3691d8;
}
body.page-forum .forumcategoryblock .forumcategoryheader,.pagnation.threadpagnation, .pagnation.postpagnation, .pagnation.threadpagnation A.page, .pagnation.postpagnation A.page {
background-color:#bd2c2c;
}
.navbar.is-primary {
background-color:#525252;
}
.threadname, .forumtitle > a {
color:#dadada
}