<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="theme-color" content="#000000">
		<title>Spacehulk</title>
		<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://unpkg.com/@uirouter/angularjs@1.0.22/release/angular-ui-router.min.js"></script>
		<script src="spacehulk.js"></script>
		<style>
		.custom-fluid-wrapper {margin: 0 auto; max-width:1024px;}
		</style>
		<style>
		
		/* Tooltip container */
		.ctooltip {
		  position: relative;
		  // display: inline-block;
		  // border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
		}

		/* Tooltip text */
		.ctooltip .tooltiptext {
		  visibility: hidden;
		  width: 120px;
		  background-color: #6c757d;
		  color: #fff;
		  text-align: center;
		  padding: 5px 2px;
		  border-radius: .25rem;
		  top: -30px;
			left: 110%; 
		 
		  /* Position the tooltip text - see examples below! */
		  position: absolute;
		  z-index: 1;
		}

		/* Show the tooltip text when you mouse over the tooltip container */
		.ctooltip:hover .tooltiptext {
		  visibility: visible;
		}
		footer span {
			padding: 0 5px 20px 5px;
		}
		</style>

		
	</head>
	<body ng-app="spacehulk">
		<noscript>
			You need to enable JavaScript to run this app.
		</noscript>
		<div ng-controller="PageController">
			{{$state}}
			<div ng-if="loading" style="position:fixed;left:0;right:0;top:0;bottom:0;background:#e9ecef;z-index:100000;">
				<!--<div style="position:relative; top:40%;left:50%">
					<h3 style="position:relative;width:160px;left:-80px;text-align:center;">Loading...</h3>
				</div>-->
				<div style="position:relative; top:40%;">
					<h3 style="padding-left:16px;margin:0 auto;width: 160px;">Loading...</h3>
				</div>
			</div>
			<nav class="navbar navbar-expand-sm bg-light navbar-light">
				<ul class="nav navbar-nav">
					<li class="nav-item">
						<a class="nav-link" ui-sref="portal" ui-sref-active="active">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref="squad" ui-sref-active="active">Squad</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref="weapons" ui-sref-active="active">Weapons</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref="items" ui-sref-active="active">Items</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref="npcs" ui-sref-active="active">Npcs</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref="pskers" ui-sref-active="active">Psykers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref="objects" ui-sref-active="active">Objects</a>
					</li>
				</ul>
			</nav>
			<div ng-show="$state.current.name == 'portal'">
				<div class="jumbotron">
					<div class="custom-fluid-wrapper">
						<h1 class="display-3">Spacehulk</h1>
						<p>This is a website to assist playing Spacehulk, specifically for weapons, items and special rules. You can also access a character creator (and squad creator).</p>
						<p><a ui-sref="squadCreator" class="btn btn-primary btn-lg" href="#" role="button">Squad Creator &raquo;</a></p>
					</div>
				</div>
				<div class="container custom-fluid-wrapper">
					<!-- Example row of columns -->
					<div class="row">
						<div class="col-md-4">
							<h2>Weapons</h2>
							<p>You will encounter several different weapons during spacehulk. This section explains the various different rules for those weapons.</p>
							<p><a class="btn btn-secondary" ui-sref="weapons" role="button">View details &raquo;</a></p>
						</div>
						<div class="col-md-4">
							<h2>Items</h2>
							<p>Whilst creating characters or doing missions you may be given additional items. These come in two flavours: regular items and consumable items which can be used for a powerful effect.</p>
							<p><a class="btn btn-secondary" ui-sref="items" role="button">View details &raquo;</a></p>
						</div>
						<div class="col-md-4">
							<h2>Enemies</h2>
							<p>On your travels you will encounter a number of different foes (and some friends), aliens, pirates and other miscreants.</p>
							<p><a class="btn btn-secondary" ui-sref="portal" role="button">View details &raquo;</a></p>
						</div>
					</div>
					
				</div> <!-- /container -->
			</div>
			<div class="container custom-fluid-wrapper" ng-show="$state.current.name == 'weapons'" ng-controller="TableController">
				<br>
				<h2>Weapons</h2>
				<br>
				Test
				<br>
				<br>
				<table class="table table-striped table-hover">
					<tr>
						<th>
							<a class="unstyled-link" ng-click="changeSort('name')">
								Weapon
								<span class="fa fa-sort-asc" ng-show="sortBy === 'name' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'name' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'name'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('type')">
								Type
								<span class="fa fa-sort-asc" ng-show="sortBy === 'type' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'type' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'type'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('apCost')">
								AP Cost
								<span class="fa fa-sort-asc" ng-show="sortBy === 'apCost' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'apCost' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'apCost'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('dice')">
								Dice
								<span class="fa fa-sort-asc" ng-show="sortBy === 'dice' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'dice' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'dice'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('modifier')">
								Modifier
								<span class="fa fa-sort-asc" ng-show="sortBy === 'modifier' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'modifier' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'modifier'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('range')">
								Range
								<span class="fa fa-sort-asc" ng-show="sortBy === 'range' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'range' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'range'"></span>
							</a>
						</th>
						<th>Rules</th>
					</tr>
					<tr ng-repeat="weapon in weapons | orderBy : sortBy : sortByReverse">
						<td><a ui-sref="weapon({ id: weapon.name })">{{weapon.name}}</a></td>
						<td>{{weapon.type}}</td>
						<td>{{weapon.apCost}}</td>
						<td>{{weapon.dice}}</td>
						<td ng-show="weapon.type !== 'Melee'">{{weapon.modifierString}} ({{6-weapon.modifier}}+)</td>
						<td ng-show="weapon.type === 'Melee'">{{weapon.modifier}}</td>
						<td>{{weapon.range}}</td>
						<td><span ng-repeat="rule in weapon.rules"><ng-rule rule="rule"></ng-rule>{{$last ? '' : ', '}}</span></td>
					</tr>
				</table>
			</div>
			<div class="container custom-fluid-wrapper" ng-show="$state.current.name == 'items'" ng-controller="TableController">
				<br>
				<h2>Items</h2>
				<br>
				Test
				<br>
				<br>
				<form>
					<div class="form-group">
						<label>Filter</label>
						<input type="text" class="form-control" placeholder="Search term" ng-model="filter">
					</div>
				</form>
				<table class="table table-striped table-hover">
					<tr>
						<th>
							<a class="unstyled-link" ng-click="changeSort('name')">
								Item
								<span class="fa fa-sort-asc" ng-show="sortBy === 'name' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'name' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'name'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('consumable')">
								Consumable
								<span class="fa fa-sort-asc" ng-show="sortBy === 'consumable' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'consumable' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'consumable'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('description')">
								Description
								<span class="fa fa-sort-asc" ng-show="sortBy === 'description' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'description' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'description'"></span>
							</a>
						</th>
					</tr>
					<tr ng-repeat="item in items | orderBy : sortBy : sortByReverse">
						<td><a ui-sref="item({ id: item.name })">{{item.name}}</a></td>
						<td>{{item.consumable}}</td>
						<td><span ng-contextual-link="item.description"></span></td>
					</tr>
				</table>
			</div>
			<div class="container custom-fluid-wrapper" ng-show="$state.current.name == 'objects'" ng-controller="TableController">
				<br>
				<h2>Objects</h2>
				<br>
				Test
				<br>
				<br>
				<form>
					<div class="form-group">
						<label>Filter</label>
						<input type="text" class="form-control" placeholder="Search term" ng-model="filter">
					</div>
				</form>
				<table class="table table-striped table-hover">
					<tr>
						<th>
							<a class="unstyled-link" ng-click="changeSort('name')">
								Object
								<span class="fa fa-sort-asc" ng-show="sortBy === 'name' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'name' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'name'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('description')">
								Description
								<span class="fa fa-sort-asc" ng-show="sortBy === 'description' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'description' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'description'"></span>
							</a>
						</th>
					</tr>
					<tr ng-repeat="object in objects | orderBy : sortBy : sortByReverse">
						<td><a ui-sref="object({ id: object.name })">{{object.name}}</a></td>
						<td><span ng-contextual-link="object.description"></span></td>
					</tr>
				</table>
			</div>
			
			<div class="container custom-fluid-wrapper" ng-show="$state.current.name == 'npcs'" ng-controller="NpcsController">
				<br>
				<h2>NPCs</h2>
				<br>
				Test
				<br>
				<br>
				<form>
					<div class="form-group">
						<label>Filter</label>
						<input type="text" class="form-control" placeholder="Search term" ng-model="filter">
					</div>
				</form>
				<table class="table table-striped table-hover" ng-show="layout == 'table'">
					<tr>
						<th>
							<span style="width:32px; display:inline-block;">
								<a class="unstyled-link" ng-click="sortByStar()">
									<span class="fa fa-star" ng-class="{'text-warning':sortBy === '$starred'}"></span>
									<!--<span class="fa fa-sort-asc" ng-show="sortBy === '$starred' && sortByReverse === true"></span>
									<span class="fa fa-sort-desc" ng-show="sortBy === '$starred' && sortByReverse === false"></span>
									<span class="fa fa-sort" ng-show="sortBy !== '$starred'"></span>-->
								</a>
							</span>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('name')">
								Name
								<span class="fa fa-sort-asc" ng-show="sortBy === 'name' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'name' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'name'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('faction')">
								Faction
								<span class="fa fa-sort-asc" ng-show="sortBy === 'faction' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'faction' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'faction'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('type')">
								Type
								<span class="fa fa-sort-asc" ng-show="sortBy === 'type' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'type' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'type'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('ap')">
								AP
								<span class="fa fa-sort-asc" ng-show="sortBy === 'ap' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'ap' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'ap'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('ca')">
								Combat Ability
								<span class="fa fa-sort-asc" ng-show="sortBy === 'ca' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'ca' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'ca'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('weaponsString')">
								Weapons
								<span class="fa fa-sort-asc" ng-show="sortBy === 'weaponsString' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'weaponsString' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'weaponsString'"></span>
							</a>
						</th>
						<th>
							<a class="unstyled-link" ng-click="changeSort('rules')">
								Rules
								<span class="fa fa-sort-asc" ng-show="sortBy === 'rules' && sortByReverse === true"></span>
								<span class="fa fa-sort-desc" ng-show="sortBy === 'rules' && sortByReverse === false"></span>
								<span class="fa fa-sort" ng-show="sortBy !== 'rules'"></span>
							</a>
						</th>
					</tr>
					<tr ng-repeat="npc in npcs | orderBy : sortBy : sortByReverse | filter : filter">
						<td>
							<a class="unstyled-link" ng-click="npc.$starred = !npc.$starred" >
								<span class="fa fa-star" ng-class="{'text-warning':npc.$starred, 'text-secondary':!npc.$starred}"></span>
							</a>
						</td>
						<td><a ui-sref="npc({ id: npc.name })">{{npc.name}}</a></td>
						<td style="background: {{npc.faction.color}}">{{npc.faction.name}}</td>
						<td>{{npc.type}}</td>
						<td>{{npc.ap}}</td>
						<td>{{npc.ca}}</td>
						<td><span ng-repeat="weapon in npc.weapons"><ng-weapon weapon="weapon"></ng-weapon>{{$last ? '' : ', '}}</span></td>
						<td><span ng-repeat="rule in npc.rules"><ng-rule rule="rule"></ng-rule>{{$last ? '' : ', '}}</span></td>
					</tr>
				</table>
				<div class="row" ng-show="layout == 'tiles'">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="npc in npcs">
						<div>Faction: {{npc.faction}}</div>
						<div>Name: {{npc.name}}</div>
						<div>Type: {{npc.type}}</div>
						<div>AP Cost: {{npc.apCost}}</div>
						<div>Melee: {{npc.melee}}</div>
						<div>Weapons: {{npc.weaponsString}}</div>
					</div>
				</div>
			</div>
			<div class="container custom-fluid-wrapper" ng-show="$state.current.name == 'links'">
				<br>
				<h2>Links</h2>
				<br>
				Test
				<br>
				<br>
				<a href="https://drive.google.com/file/d/0BzUqoUE_JiOua1NGUXo5c0hwWGs/view">https://drive.google.com/file/d/0BzUqoUE_JiOua1NGUXo5c0hwWGs/view</a>
				<a href="https://bowlivestorage.blob.core.windows.net/beastsofwarlivesite/2018/10/54362492-68952044-Genestealer-CultistHybrids_Rules_for_Space_Hulk_3_and_4-5bce4e8f63025.pdf">https://bowlivestorage.blob.core.windows.net/beastsofwarlivesite/2018/10/54362492-68952044-Genestealer-CultistHybrids_Rules_for_Space_Hulk_3_and_4-5bce4e8f63025.pdf</a>
				<a href="http://rumkin.com/reference/dnd/diestats.php">http://rumkin.com/reference/dnd/diestats.php</a>
				<a href="http://spacehulk.barsoom.cc/ressurected/shbible/Space_Hulk_Bible_1st_edtion.pdf">http://spacehulk.barsoom.cc/ressurected/shbible/Space_Hulk_Bible_1st_edtion.pdf</a>
				<a href="http://spacehulk.barsoom.cc/ressurected/eth/Marines.html">http://spacehulk.barsoom.cc/ressurected/eth/Marines.html</a>
				<a href="https://boardgamegeek.com/thread/1540262/deathwatch-hybrids-space-hulk">https://boardgamegeek.com/thread/1540262/deathwatch-hybrids-space-hulk</a>
			</div>
			
			<div class="container custom-fluid-wrapper" ng-if="$state.current.name == 'weapon'" ng-controller="RegistryController">
				<br>
				<h2>{{subject.name}}</h2>
				<br>
				<div class="row">
					<div class="col-lg-6">
						<span ng-contextual-link="subject.description"></span>
					</div>
					<div class="col-md-4 col-lg-6">Type : {{subject.type}}</div>
					<div class="col-md-4 col-lg-6">Cost to Fire: {{subject.apCost}}AP</div>
					<div class="col-md-4 col-lg-6">Hit Dice: {{subject.dice}}</div>
					<div class="col-md-4 col-lg-6">To hit: {{6-subject.modifier}}+</div>
					<div class="col-md-4 col-lg-6" ng-show="subject.range">Range: {{subject.range}}</div>
					<div class="col-md-6 col-lg-6">
						<h6>Rules:</h6>
						<table class="table">
							<tr ng-repeat="rule in subject.rules">
								<td><a ui-sref="rule({id:rule.name})">{{rule.name}}</a></td>
								<td><span ng-contextual-link="rule.fullDescription"></span></td>
							</tr>
						</table>
					</div>
				</div>
				<br>
				<br>
			</div>
			<div class="container custom-fluid-wrapper" ng-if="$state.current.name == 'npc'" ng-controller="RegistryController">
				<br>
				<h2>{{subject.name}}</h2>
				<br>
				<div class="row">
					<div class="col-lg-12">
						<span ng-contextual-link="subject.description"></span>
					</div>
					<div class="col-md-4 col-lg-6">Faction : <a ui-sref="faction({id:subject.faction.name})">{{subject.faction.name}}</a></div>
					<div class="col-md-4 col-lg-6">Type: {{subject.type}}</div>
					<div class="col-md-4 col-lg-6">Action Points: {{subject.ap}} AP</div>
					<div class="col-md-4 col-lg-6">Combat Ability:  {{subject.ca}}</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6 col-lg-6" ng-show="subject.weapons.length > 0">
						<h6>Weapons:</h6>
						<table class="table">
							<tr ng-repeat="weapon in subject.weapons">
								<td><a ui-sref="weapon({id:weapon.name})">{{weapon.name}}</a></td>
								<td><span ng-contextual-link="weapon.description"></span></td>
							</tr>
						</table>
					</div>
					<div class="col-md-6 col-lg-6" ng-show="subject.rules.length > 0">
						<h6>Rules:</h6>
						<table class="table">
							<tr ng-repeat="rule in subject.rules">
								<td><a ui-sref="rule({id:rule.name})">{{rule.name}}</a></td>
								<td><span ng-contextual-link="rule.fullDescription"></span></td>
							</tr>
						</table>
					</div>
				</div>
				<br>
				<br>
			</div>
			<div class="container custom-fluid-wrapper" ng-if="$state.current.name == 'item'" ng-controller="RegistryController">
				<br>
				<h2>{{subject.name}}</h2>
				<h6 ng-show="subject.consumable">(Consumable)</h6>
				<br>
				<span ng-contextual-link="subject.description"></span>
				<br>
				<br>
			</div>
			<div class="container custom-fluid-wrapper" ng-if="$state.current.name == 'rule'" ng-controller="RegistryController">
				<br>
				<h2>{{subject.name}}</h2>
				<br>
				<span ng-contextual-link="subject.fullDescription"></span>
				<br>
				<br>
			</div>
			<div class="container custom-fluid-wrapper" ng-if="$state.current.name == 'object'" ng-controller="RegistryController">
				<br>
				<h2>{{subject.name}}</h2>
				<br>
				<span ng-contextual-link="subject.description"></span>
				<div class="row">
					<div class="col-md-4" ng-show="subject.destructible">Destructible: {{subject.destructible}}</div>
					<div class="col-md-4" ng-show="subject.blocksLOS">Blocks Line of Sight</div>
					<div class="col-md-4" ng-show="subject.blocksMovement">Blocks Movement</div>
				</div>
				<br>
				<br>
			</div>
			<div class="container custom-fluid-wrapper" ng-if="$state.current.name == 'faction'" ng-controller="RegistryController">
				<br>
				<h2>{{subject.name}}</h2>
				<br>
				<div class="row">
					<div class="col-lg-6">
						<span ng-contextual-link="subject.description"></span>
					</div>
					<div class="col-lg-6">
						<h6>Npcs:</h6>
						<table class="table">
							<tr ng-repeat="npc in npcs | orderBy:'type'" ng-if="npc.faction.name == subject.name">
								<td><a ui-sref="npc({id:npc.name})">{{npc.name}}</a></td>
								<td>{{npc.type}}</td>
							</tr>
						</table>
					</div>
				</div>
				<br>
				<br>
			</div>
			
			<hr>
			<footer>
				<span>&copy; Fulcrum {{date| date:'yyyy'}}</span>
				<span><a ui-sref="about" class="unstyled-link">About</a></span>
				<span><a ui-sref="links" class="unstyled-link">Links</a></span>
			</footer>
		</div>
		<script src="app.js"></script>
	</body>
</html>